<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
<body>
	<nav>
	<ul class="topnav">
  <li><a class="active" href="">Home</a></li>
  <li><a href="#" target="_top">search&edit</a></li>
  <li><a href="#">Delivery Status</a></li>
  <li ><a href="##">About</a></li>
  <li class="dropdown" style="float:right">
    <a href="javascript:void(0)" class="dropbtn">Members Area</a>
    <div class="dropdown-content">
      <a href="#">Sign up</a>
      <a href="#">Login</a>
      <a href="#" style ="color:#FFFFFF">Admin</a>    </div>
  </li>

  
</ul>
</nav>

    {{{ body }}}

</body>
</html>
